.courses-bg {
  background-color: #ebebeb;
}

.course-card-bg {
  background-color: #19478e !important;
}

.course-card-bg:hover {
  background-color: #14294a !important;
}

.course-card-title {
  color: #ffc107 !important;
}

.booking-btn {
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.ribbon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.ribbon {
  position: absolute;
  top: 20px;
  right: -35px;
  transform: rotate(45deg);
  background-color: #dc3545; /* Bootstrap danger color */
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 150px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
